body {
    font-family: Roboto;
    background-color: #F5B964;
    color: #1d5675;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Grenze Gotisch";
    text-align: center;
}
h1{
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #83F5FF;
    border: 2px solid #A8C9F5;
    background-color: #A86922;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img{
    width:300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section */

#hobbies ul li:nth-child(2n+1) {
    color: green;
}

#hobbies ul li:nth-child(2n+2) {
    color: blue;
}

/* Gallery */

#gallery {
    border: 3px solid #1d5675;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 3px solid #1d5675;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

/* Dropcaps */ 

#lit div p:first-letter {

    color: darkblue;
    float: left;
    font-size: 3em;
    padding: .5em;
    margin-right: .25em;
    line-height: .65;
    border:1px solid black;
    background-image:radial-gradient(orange,rgb(86, 117, 128));
    text-shadow: 5px 5px 5px;
    border-radius: .2em;


}

